<script type='text/javascript' src='https://ebi-au-1.niometrics.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1440px; height: 684px;'>
    <object class='tableauViz' width='1440' height='684' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Febi-au-1.niometrics.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='CGI_RAT_Dashboard&#47;DashCGIPerformance_1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='ticket' value=<%= tick%> />
    </object>
</div>

<a href="/home">ALL VIEWS</a>